body {
    background-color: #eff6f0;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
	vertical-align: middle;
	font-size: 2em;
	color: #76b343;
	font-family: "Palatino Linotype";
	text-decoration: none;
	
}
h1 {
	color: #122115;
	font-family: "Palatino Linotype";
}
h2 {
	color: #122115;
	font-family: "Palatino Linotype";
	text-align: center;
}
p  {
	color: black;
	font-family: "Palatino Linotype";
}
ul  {
	color: black;
	font-family: "Palatino Linotype";
    text-align:left;
    
}
.Lühitutvustus{
    text-align: center;
}


.tekstkeskel {
	text-align: center;
}

.tulp {
    float: left;
}

.vasak, .parem {
  width: 25%;
}

.keskmine {
  width: 50%;
  background-color: #f7fff8;
}
.nimekiri1{
    width:70%;
    float:left;
}
.nimekiri2{
    width:30%;
    text-align:center;
    float:right;
    line-height: normal;
}

.rida:after {
    content: "";
    display: table;
    clear: both;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.9);
}


.text {
  color: #ffffff;
  font-size: 14px;
  padding: 7px 13px;
  position: absolute;
  bottom: 7px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #ffffff;
  font-size: 13px;
  padding: 8px 13px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 45%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.active, .dot:hover {
  background-color: #717271;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.3s;
  animation-name: fade;
  animation-duration: 1.3s;
}

@-webkit-keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}