body {
    background-color: #eff6f0;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
	color: #76b343;
	font-family: "Palatino Linotype";
	text-decoration: none;
	font-size: 2em;
}
h1 {
	color: #122115;
	font-family: "Palatino Linotype";
}
h2 {
	color: #122115;
	font-family: "Palatino Linotype";
}
p  {
	color: black;
	font-family: "Palatino Linotype";
}